---
layout: default
---
<style>
  #navbar {
    position: fixed;
    top: 0;
    padding: 40px;
    width: 100%;
    overflow: auto;
    transition: top 0.1s;
}

  .project__used__item {
      display: inline-block;
      margin: 3px 3px 3px 0;
      font-family: Inconsolata,monospace;
      font-size: .75rem;
      font-weight: 700;
      padding: 2px 7px;
      border-radius: 3px;
      color: #007bff;
      border: 1px solid #007bff;
      background: 0 0;
  }

  img.responsive {
      width: 100%;
      height: auto;
  }
</style>

<script>
  window.addEventListener('scroll', () => {
      const navbarLinks = document.querySelectorAll('#navbar a');
      navbarLinks.forEach(link => {
          const target = document.querySelector(link.getAttribute('href'));
          const rect = target.getBoundingClientRect();
          if (rect.top <= 0 && rect.bottom >= 0) {
              link.classList.add('active');
          } else {
              link.classList.remove('active');
          }
      });
  });
</script>

<div id="site">
  {% include navbar.html %}

  {% include switch.html %}

  <div id="intro">
    {% include intro.html %}
  </div>
  <div id="background">
    {% include background.html %}
  </div>
  <div id="sections">
    {% include sections.html %}
  </div>
  <!-- <div id="skills">
    {% include skills.html %}
  </div>
  <div id="featured-projects">
    {% include featured-projects.html %}
  </div>
  <div id="tech-projects">
    {% include tech-projects.html %}
  </div>
  <div id="other-projects">
    {% include other-projects.html %}
  </div> -->
  <div id="footer">
    {% include footer.html %}
  </div>
  {% include top-button.html %}
</div>
