---
layout: default
title: Media Projects
---

<div id="site">
    {% include navbar.html %}
    {% include switch.html %}

    <div class="section background">
        <div class="section__title">Media Projects</div>
        <div class="section__content">
            <p>
                These media projects represent my work in creative technology, combining technical skills 
                with artistic expression. From interactive installations to digital experiences, each project 
                explores new ways of engaging with technology.
            </p>
        </div>
    </div>

    <div id="media-projects">
        {% include media-projects.html %}
    </div>

    <div id="footer">
        {% include footer.html %}
    </div>
    {% include top-button.html %}
</div>