<section class="section background">
  <div class="section__title">Introduction</div>
  <div class="section__content">
    <p>
      Hi there! My name is Siyan Wang (王思岩), and I'm a master's student at Cornell Tech, focusing on Information Systems with a Connective Media concentration. I'm driven by a passion for leveraging innovative technologies to create a more inclusive and interactive society.
    </p>

      <p>
        Before joining Cornell Tech, I worked as a data and product professional in Silicon Valley and as a bilingual freelance writer, covering topics in technology, sports, and media. I hold a B.S. in Mathematics from Haverford College, where I graduated in 2018.
      </p>

      <p>
        Outside of academics and work, I enjoy performing stand-up comedy, hosting my women's sports podcast, commenting on soccer games, playing tennis, and immersing myself in musicals.
      </p>

  </div>
</section>
