<section class="section background">
  <div class="section__title">Introduction</div>
  <div class="section__content">
    <p>
      Hi! I'm Mia (Xuening / 雪宁), an engineer and musician. I blend coding with creativity to build cool stuff and make music with AI 🎵. 
      </p>

      <p>Currently exploring the intersection of tech and creativity at Cornell Tech, I'm passionate about designing AI-powered solutions that have real-world impact. My background blends full-stack development, machine learning, and music technology, and I'm driven to create innovative products that bring together my skills and passions. When I'm not coding, you'll find me playing piano, drinking coffee, or wandering through random record shops in NYC 🎧 🚶‍♀️.</p>

  </div>
</section>
