<header class="intro">
  <h1 class="intro__hello">Hi there!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h3 class="intro__tagline">I'm
    <span class="name">Siyan</span>, a tech-savvy media professional dedicated to transforming information creation and delivery, passionate about leveraging innovation for a more inclusive and interactive society.
    <span class="emoji technologist"></span>
  </h3>

  <div class="image-container">
    <img src="../img/cover.png" alt="Descriptive text about the image">
  </div>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:siyansw@gmail.com" target="_blank" class="highlight-link">Email</a>
      <a href="https://www.linkedin.com/in/siyan-wang-5251368b/" target="_blank" class="highlight-link">LinkedIn</a>
    </span>
  </h3>
</header>

<style>
  .image-container {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  
  .image-container img {
    max-height: 100%;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    .image-container {
      display: none;
    }
  }
</style>
