<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">ML, DS &amp; DB</div>
        <ul>
          {% for mldss in site.data.skills.mlds %}
          <li class="skillz__category__item">{{mldss.item}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">Web Technologies</div>
        <ul>
          {% for tech in site.data.skills.web_technologies %}
          <li class="skillz__category__item">{{tech.item}}</li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="skillz__category">
        <div class="skillz__category__label">Tools and Platforms</div>
        <ul>
          {% for tool in site.data.skills.tools_and_platforms %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>
