<section class="section experience">
    <div class="section__title">Education</div>
    <div class="section__content">
      <div class="jobs">
        {% for exp in site.data.education %}
        <div class="job">
          <div class="time-place">
            <div class="job__company">
              <a href="{{exp.url}}" target="_blank">{{exp.institution}}</a>
              <!-- <a target="_blank">{{exp.institution}}</a> -->
  
            </div>
            <div class="job__time">{{exp.time}}</div>
          </div>
          <div class="job__position">{{exp.degree}}</div>
        </div>
        {% endfor %}
      </div>
      </div>
</section>
  